.header {
    width: 100%;
    padding: 20px 0;
}

.main {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 20px;
}

.section {
    width: 100%;
    max-width: 48%;
}

@media screen and (max-width: 768px) {
    .main {
        flex-direction: column;
    }

    .section {
        max-width: initial;
    }
}
