<mat-table *ngIf="viewState === ViewState.SUCCESS" [dataSource]="orders">
    <ng-container [matColumnDef]="DisplayedColumn.CUSTOMER">
        <mat-header-cell *matHeaderCellDef class="header-cell" mat-header-cell i18n>Customer:</mat-header-cell>
        <mat-cell *matCellDef="let order" mat-cell>{{ order.customer.name }} {{ order.customer.surname }}</mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="DisplayedColumn.CITY">
        <mat-header-cell *matHeaderCellDef mat-header-cell i18n>City:</mat-header-cell>
        <mat-cell *matCellDef="let order" mat-cell>{{ order.customer.city }}</mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="DisplayedColumn.AMOUNT">
        <mat-header-cell *matHeaderCellDef class="header-cell" mat-header-cell i18n>Total amount:</mat-header-cell>
        <mat-cell *matCellDef="let order" mat-cell>{{ order.totalAmount }}</mat-cell>
    </ng-container>

    <ng-container [matColumnDef]="DisplayedColumn.DETAILS">
        <mat-header-cell *matHeaderCellDef mat-header-cell></mat-header-cell>
        <mat-cell *matCellDef mat-cell>
            <button color="primary" mat-raised-button i18n>Show details</button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" mat-header-row></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns" mat-row></mat-row>
</mat-table>

<omega-loading-state *ngIf="viewState === ViewState.LOADING"></omega-loading-state>
<omega-error-state *ngIf="viewState === ViewState.ERROR"></omega-error-state>
